.btn {
  text-decoration: none;
  border-radius: 50px;
  padding: 15px;
  width: 50%;
  color: black;
  background-color: rgb(246, 213, 22);
  font-family: poppins;
  border: none;
  font-size: 1.1rem;
}

.btn2 {
  position: relative;
  left: 20%;
  text-decoration: none;
  border-radius: 15px;
  padding: 15px;
  width: 50%;
  color: black;
  background-color: rgb(246, 213, 22);
  font-family: poppins;
  border: none;
  font-size: 1.1rem;
}

.bamaa {
  position: relative;
  top: 150px;
}

.btn:hover {
  color: black;
}

.ani {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  height: 300px;
  position: relative;
  top: 170px;
}

.vim {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.246), rgba(0, 0, 0, 0.258)),
    url(../img/delivery1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 75vh;
  color: ghostwhite;
  font-family: poppins;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.sack {
  color: green;
}

.first {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: poppins;
}

.sloth img {
  height: 40vh;
}

.btn1 {
  text-decoration: none;
  border-radius: 30px;
  border: none;
  width: 20%;
  padding: 12px;
  color: white;
  background-color: black;
  font-family: poppins;
}

.home {
  margin-top: 5%;
  font-family: poppins;
}

.place {
  gap: 20px;
  height: 40vh;
}

.place div {
  padding: 0 6%;
}

.text {
  font-family: poppins;
  color: black;
}

.text2 {
  font-family: poppins;
  color: ghostwhite;
}

.fast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 5%;
}

.fast1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 5%;
}

.dot img {
  height: 30vh;
}

.dot1 img {
  height: 70vh;
  width: 100%;
}

.text1 {
  margin-bottom: 10%;
  color: black;
  text-align: center;
}

.sign {
  margin-top: 5%;
}

.hero {
  margin: 4% 0;
}

.mage {
  display: block;
}

.mage img {
  height: 40vh;

  width: 100%;
}

.text img {
  height: 10vh;
}

.hold {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  background-color: rgb(22, 36, 2);
  color: ghostwhite;
  padding: 3%;
}

.dunk {
  display: flex;
  gap: 400px;
  text-align: center;
  font-family: poppins;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.all {
  font-family: poppins;
  margin-top: 2%;
}

.txt {
  text-align: center;
}

.up {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  margin-top: 5%;
}

.up img {
  height: 45vh;
}

.sign {
  margin-top: 0;
}

.text7 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  color: ghostwhite;
  position: relative;
  margin-top: 3%;
}

.news {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100vw;
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 5%;
  padding: 30px;
  background-color: rgb(4, 32, 2);
  color: ghostwhite;
}

.list ul {
  list-style: none;
}

.list ul li a {
  text-decoration: none;
  color: ghostwhite;
  font-family: poppins;
}

@media (max-width: 992px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 5%;
    padding: 100px;
    background-color: rgb(9, 9, 9);
    color: ghostwhite;
  }
}

@media (max-width: 1024px) {
  .bamaa {
    position: relative;
    top: 80px;
    font-size: 1.1rem;
  }

  .vim {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.246),
        rgba(0, 0, 0, 0.258)
      ),
      url(/assets/img/delivery1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 85vh;
    color: ghostwhite;
    font-family: poppins;
    display: block;
  }

  .btn {
    text-decoration: none;
    border-radius: 50px;
    padding: 15px;
    width: 95%;
    color: black;
    background-color: rgb(246, 213, 22);
    font-family: poppins;
    border: none;
    font-size: 1.1rem;
  }

  div {
    overflow-x: hidden;
  }

  .text {
    position: relative;
    left: 7px;
  }

  .img-con img {
    height: 0vh;
  }

  .ani {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    height: 300px;
    position: relative;
    top: 95px;
  }

  .place {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }

  .play {
    display: none;
  }

  .fast {
    display: block;
    margin-top: 6%;
  }

  .fast1 {
    display: block;
    margin-top: 6%;
  }

  .dot {
    margin-top: 5%;
  }

  .dot1 {
    margin-top: 5%;
  }

  .dot img {
    width: 100%;
  }

  .hold {
    display: flex;
    flex-wrap: wrap;
  }

  .dunk {
    display: flex;
    gap: 40px;
    text-align: center;
    font-family: poppins;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

  .ogt {
    display: none;
  }

  .up {
    margin-top: 20%;
  }

  .btn2 {
    position: relative;
    left: 0%;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    color: black;
    background-color: rgb(246, 213, 22);
    font-family: poppins;
    border: none;
    font-size: 1.1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 5%;
    padding: 100px;
    background-color: rgb(4, 32, 2);
    color: ghostwhite;
  }
}
