body {
  font-family: poppins;
  color: black;
}
.btn {
  text-decoration: none;
  border-radius: 50px;
  padding: 15px;
  width: 25vw;
  background-color: rgb(246, 213, 22);
  border: none;
  font-size: 1.1rem;
  transition: all 0.6s ease-in-out;
}
.btn:hover{
  background-color: rgb(4, 32, 2);
  color: ghostwhite;
  transform: scale(1.2);
  a{
    color: ghostwhite;
    text-decoration: none;
  }
}
.btn2 {
  text-decoration: none;
  border-radius: 15px;
  padding: 9px;
  background-color: rgb(246, 213, 22);
  border: none;
  font-size: 1.1rem;
  a{
    text-decoration: none;
  }
}

.bamaa {
  position: relative;
  top: 150px;
}

.ani {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  height: 300px;
  position: relative;
  top: 170px;
}

.vim {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.246), rgba(0, 0, 0, 0.258)),
    url(../img/delivery1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 75vh;
  color: ghostwhite;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.sack {
  color: green;
}

.first {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.sloth img {
  height: 40vh;
}

.btn1 {
  text-decoration: none;
  border-radius: 30px;
  border: none;
  width: 20%;
  padding: 12px;
  color: white;
  background-color: black;
}

.home {
  margin-top: 5%;
  background-color: rgb(22, 36, 2);
}

.place {
  gap: 20px;
  height: 40vh;
}

.place div {
  padding: 0 6%;
}

.text2 {
  color: ghostwhite;
}

.fast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 5%;
}

.fast1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 5%;
}

.dot img {
  height: 30vh;
}

.dot1 img {
  height: 70vh;
  width: 100%;
}

.text1 {
  margin-bottom: 10%;
  text-align: center;
}

.sign {
  margin-top: 5%;
}

.hero {
  margin: 4% 0;
}

.mage img {
  height: 25vh;
  width: 100%;
}

.text img {
  height: 10vh;
}



.dunk {
  display: flex;
  gap: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.all {
  margin-top: 2%;
}

.txt {
  text-align: center;
}

.up {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
  margin-top: 5%;
}

.up img {
  height: 45vh;
}

.sign {
  margin-top: 0;
}

.text7 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  color: ghostwhite;
  position: relative;
  margin-top: 3%;
}

.news {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100vw;
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 5%;
  padding: 30px;
  background-color: rgb(4, 32, 2);
  color: ghostwhite;
}

.list ul {
  list-style: none;
}

.list ul li a {
  text-decoration: none;
  color: ghostwhite;
}

.btn > a {
  color: black;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}


/* newly added */
.hold {
  display: flex;
  gap: 60px;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  background-color: rgb(22, 36, 2);
  color: ghostwhite;
  .mage{
    flex: 1;
    max-width: calc(33.33% - 10px);
    text-align: center;
  height: 69vh;
  h2{
    padding-bottom: 10px;
    padding-top: 5px;
  }
  p{
    height: 25vh;
    overflow-y: auto;

  }
  p:hover{
    border: 1px solid #ccc;
  }
  }
}
@media screen and (max-width: 360px){
  body{
    text-align: center;
  }
  div.up{
    display: flex;
    flex-direction: column;
  }
  section#delivery{
    display: block;
    text-align: center;
    padding: 20px;
    div{
      h1{
        margin-top: 30px;
      }
    }
  }
  div.text{
    width: 90%;
  }
  .btn{
    width: 40px;
    font-size: 1rem;
  }
  .btn:hover{
    transform: scale(1.05);
  }
  div#work{
    width: 98vw;
    padding:0;
  }
  .place{
    width: 98%;
    align-items: center;
  }
  div.hold{
    display: block;
     width: 100vw !important;
    p, h2{
      color: ghostwhite;
    }

    .mage{
      max-width: calc(100% - 10px);
      margin-bottom: 20px;
    }
  }
  footer{
    display: flex;

  }
  
}

@media screen and (max-width: 412px){
  body{
    text-align: center;
  }
  .text2{
    color: black;
  }
  div#work{
    width: 98vw;
    padding:0;
  }
  div.hold{
    display: block;
    align-items: center;
    .mage{
      width: 99vw;
    }
    p, h2{
      color: ghostwhite;
    }

    .mage{
      max-width: calc(100% - 10px);
      margin-bottom: 20px;
    }
  }
  footer{
    display: flex;

  }
  .place{
    width: 98%;
    align-items: center;
  }
  .up{
    display: block;
  }
}
@media screen and (min-width: 428px){
  /* .hold {
  display: flex;
  gap: 60px;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  background-color: rgb(22, 36, 2);
  color: ghostwhite;
  .mage{
    flex: 1;
    max-width: calc(33.33% - 10px);
    text-align: center;
  height: 69vh;
  h2{
    padding-bottom: 10px;
    padding-top: 5px;
  }
  p{
    height: 25vh;
    overflow-y: auto;

  }
  p:hover{
    border: 1px solid #ccc;
  }
  }
} */
}

@media screen and (max-width: 810px){
  body{
    text-align: center;
  }
  .text2{
    color: black;
  }
  div#work{
    width: 98vw;
    padding:0;
  }
  div.hold{
    display: block;
    align-items: center;
    .mage{
      width: 90vw;
      margin:auto;
    }
    p, h2{
      color: ghostwhite;
    }
    p{
      height: fit-content;
    }

    .mage{
      max-width: calc(100% - 10px);margin-bottom: 30px;
    }
  }
  footer{
    display: flex;

  }
  .place{
    width: 98%;
    align-items: center;
  }
  .up{
    display: block;
  }
}
@media (max-width: 992px) {

}

@media (max-width: 1024px) {
  .bamaa {
    position: relative;
    top: 80px;
    font-size: 1.1rem;
  }

  .vim {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.246),
        rgba(0, 0, 0, 0.258)
      ),
      url(../img/delivery1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 85vh;
    color: ghostwhite;
    display: block;
  }

  .btn {
    text-decoration: none;
    border-radius: 50px;
    padding: 15px;
    width: 74vw;
    color: black;
    background-color: rgb(246, 213, 22);
    border: none;
    font-size: 1.1rem;
    a {
      color: black;
    }
  }

  div {
    overflow-x: hidden;
  }

  .text {
    position: relative;
    left: 7px;
    h1 {
      color: rgba(0, 0, 0, 0.872);
    }
  }

  .img-con img {
    height: 0vh;
  }

  .ani {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    height: 300px;
    position: relative;
    top: 95px;
  }

  .place {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }

  .play {
    display: none;
  }

  .fast {
    display: block;
    margin-top: 6%;
  }

  .fast1 {
    display: block;
    margin-top: 6%;
  }

  .dot {
    margin-top: 5%;
  }

  .dot1 {
    margin-top: 5%;
  }

  .dot img {
    width: 100%;
  }

  .hold {
    display: flex;
    flex-wrap: wrap;
  }

  .dunk {
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

  .ogt {
    display: none;
  }

  .up {
    margin-top: 20%;
  }

  .btn2 {
    position: relative;
    left: 0%;
    text-decoration: none;
    border-radius: 15px;
    color: black;
    background-color: rgb(246, 213, 22);
    font-family: poppins;
    border: none;
    font-size: 1.1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 5%;
    background-color: rgb(4, 32, 2);
    color: ghostwhite;
  }
}

